/** ---* font *--- **/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-main {
  font-family: "Inter", sans-serif;
}

/** ---* tailwindcss *--- **/
@import "tailwindcss";

/** ---* daisyui *--- **/
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #F7F7F7;
  --color-primary: #059383;
  --color-secondary: #003350;

}

/** ---* btn primary *--- **/
.btn-primary {
  @apply bg-linear-to-r from-gray-600 to-primary text-white rounded-full px-6 py-2.5 font-medium hover:bg-primary/10 hover:text-black transition-all duration-300;
}

/** ---* btn secondary *--- **/
.btn-secondary {
  @apply bg-linear-to-r from-gray-100 to-gray-200 text-black rounded-full px-6 py-2.5 font-medium hover:bg-gray-500 hover:text-black transition-all duration-300;
}